:root {
	--font-style: "Work Sans", sans-serif;
	--fw-regular: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	--bg-color: hsl(275, 100%, 97%);
	--bg-color-card: hsl(0, 0%, 100%);

	--font-color-heading: hsl(292, 42%, 14%);
	--font-color-base: hsl(292, 16%, 49%);

	--primary-color: hsl(281, 83%, 54%);

	--spacing-base: 2.4rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body,
main {
	position: relative;
	min-height: 100vh;
	min-height: 100svh;
	background-color: var(--bg-color);
	font-size: 1.6rem;
	font-family: var(--font-style);
	font-weight: var(--fw-regular);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-bg-pattern:after {
	top: 0;
	height: 232px;
	width: 100%;
	position: absolute;
	content: "";
	background-image: url("./assets/images/background-pattern-mobile.svg");
}

.accordion {
	margin: calc(var(--spacing-base) * 2) 0;
	max-width: 327px;
	background-color: var(--bg-color-card);
	color: var(--font-color-base);
	z-index: 1;
	border-radius: 0.8rem;
	padding: var(--spacing-base);
}

.accordion__header {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: var(--spacing-base);
	margin-bottom: var(--spacing-base);
}

.accordion__heading {
	font-size: 3.2rem;
	font-weight: var(--fw-bold);
	color: var(--font-color-heading);
}

.accordion__panel {
	position: relative;
}

.accordion__panel:not(:last-child):after {
	position: absolute;
	transform: translateY(2rem);
	content: "";
	width: 100%;
	height: 0.1rem;
	border-top: 0.1rem solid var(--bg-color);
}

.accordion__panel:not(:last-child):has(
		.accordion__content[aria-hidden="false"]
	):after {
	transform: translateY(0.5rem);
}

.accordion__panel:not(:last-child) {
	margin-bottom: 4rem;
}

.accordion--trigger {
	border: 0;
	background: transparent;
}

.accordion__title {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 3rem;
	justify-content: start;
	align-items: center;
	gap: var(--spacing-base);
	font-size: 1.6rem;
	font-weight: var(--fw-semi-bold);
	text-align: left;
	color: var(--font-color-heading);
	margin-bottom: var(--spacing-base);
}

.accordion__title:hover,
.accordion__title:focus {
	color: var(--primary-color);
	cursor: pointer;
}

.accordion__content {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.8s;
}

.accordion__content[aria-hidden="true"] {
	grid-template-rows: 1fr;
}

.accordion__content > div {
	overflow: hidden;
}

.icon {
	height: 2.4rem;
	width: 2.4rem;
}

@media screen and (min-width: 720px) {
	.top-bg-pattern:after {
		height: 320px;
		background-image: url("./assets/images/background-pattern-desktop.svg");
	}

	.accordion {
		max-width: 600px;
	}

	.accordion__heading {
		font-size: 5.6rem;
	}

	.accordion__title {
		font-size: 1.8rem;
	}

	.icon {
		height: 4rem;
		width: 4rem;
	}
}
